.page {
    height: 1000px;
}

#page1 {
    background-color: ghostwhite;
    height: 500px;
    padding: 70px 0px 0px 0px;
}

#page2 {
    background-color: powderblue;
}

#page3 {
    background-color: darkcyan;
    
}

span{
    margin-left:80px;
}

#page1-writing {
	font-size: 60px;
}

transperent-low{
    opacity: 0.7;
}

.transperent-high{
    opacity: 0.6;
}