.header {
    background-color: ghostwhite;
}

.page {
    height: 1000px;
}

#page1 {
    background-color: ghostwhite;
    height: 600px;
    padding: 70px 0px 0px 0px;
}

#page2 {
    background-color: powderblue;
}

#page3 {
    background-color: darkcyan;
}

.page1-container {
    left: 5%;
    bottom: -17%;
}

.big-font {
    font-size: 60px;
}

transperent-low {
    opacity: 0.7;
}

.transperent-high {
    opacity: 0.6;
}

.cool-font {
    font-family: 'Pangolin', cursive;
}

.top-offset {
    top: 150px;
}

.bold {
    font-weight: bold;
}

.margin-bottom {
    margin-bottom: 15%;
}

.picture-block {
    padding-right: 21%;
}

.pictures-row {
    padding-left: 27%;
    margin-bottom: 4%;
}

.flote-left {
    float: left;
}

.forms-group-style {
    width: 30%;
}

.forms-style {
    margin-bottom: 11%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid darkgray;
    outline: none;
    outline-style: none;
    display: block;
    width: 75%;
    font-size: 24px;
}

.btn-style {
    border: 3px;
    margin-top: 14%;
    height: 100px;
    width: 200px;
    font-size: 44px;
    border-style: outset;
    border-color: darkgray;
    background-color: thistle;
    

}